@import "tailwindcss";


* {
    box-sizing: border-box;
}

body {
    background-color: #f4faf4;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradientMove 4s ease infinite;
    background-size: 200% 200%;
}