@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@plugin "../node_modules/daisyui/index.js";

* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #f4faf4;
}
